<nav class="millahuin-yellow darken-1">
  <div class="top-nav">
    <div class="container">
      <div class="nav-wrapper"></div>
    </div>
  </div>
</nav>
<ul id="slide-out" class="side-nav fixed" style="transform: translateX(0px)";>
  <div class="logo">
    <li class="logo">
      <a id="logo-container" href="#" class=" center">
        <img id="front-page-logo" src="system/views/images/svg-pegado-44787x44.svg" alt="Millahuin Ltda">
      </a>
    </li>
    <li class="search">
      <div class="search-wrapper card">
        <input id="search">
        <i class="material-icons fa fa-search fa-2x"></i>
        <div class="search-results"></div>
      </div>
    </li>
  </div>
  <li>
    <a href="#" class="waves-effect waves-yellow"><i class="fa fa-university fa-fw cMillahuin-g"></i>Gestion de obras</a>
  </li>
  <li>
    <a href="#" class="waves-effect waves-yellow"><i class="fa fa-address-card fa-fw cMillahuin-g" aria-hidden="true"></i>Gestion Personal</a>
  </li>
  <li>
    <a href="#" class="waves-effect waves-yellow"><i class="fa fa-pie-chart fa-fw cMillahuin-g"></i>Estadisticas inventario</a>
  </li>
</ul>
<div class="container">
  <a id="menu" href="#" class="button-collapse top-nav waves-effect waves-light circle hide-on-large-only" data-activates="slide-out">
    <i class="fa fa-bars cWhite" aria-hidden="true"></i>
  </a>
</div>
