<span class="cursor-default no-seleccionable card-title millahuin-grey-text">Ingresa tu nueva contraseña</span>
<div class="element-v250" id="form-signin">
  <!--formulario-->
  <div class="input-field millahuin-grey-text">
    <input class="btn-flat validate" id="newContraseña" type="text">
    <label for="newContraseña">Contraseña</label>
  </div>
  <div class="input-field millahuin-grey-text">
    <input autocomplete="off" class="no-seleccionable btn-flat validate" id="valContraseña"  type="password" oncopy="return false" onpaste="return false">
    <label for="valContraseña">Valida Contraseña</label>
  </div>
  <div id="progress" class="progress hide">
    <div class="determinate"></div>
  </div>
  <div class="card-action right-align millahuin-yellow">
    <a class="btn waves-effect waves-blue white-text millahuin-grey darken-1 z-depth-1" id="he-terminado" onclick="">He terminado</a>
  </div>
  <!--finformulario-->
</div>
