<div class="row">
  <div class="col s12 m12 l12">
    <span class="cursor-default no-seleccionable card-title millahuin-grey-text">Ingresa tu codigo</span>
  </div>
  <div class="col s12 m12 l12">
    <span class="cursor-default no-seleccionable millahuin-grey-text">El codigo fue enviado a tú correo institucional</span>
  </div>
</div>
<div class="element-v250">
  <!--formulario-->
    <div class="input-field millahuin-grey-text darken-1">
      <input autocomplete="off" class="btn-flat no-seleccionable" id="codigo" type="text" oncopy="return false" onpaste="return false">
      <label for="usuario">codigo</label>
    </div>
    <div id="progress" class="progress hide">
      <div class="determinate"></div>
    </div>
    <div class="card-action right-align millahuin-yellow millahuin-grey-text">
      <a class="btn waves-effect waves-blue white-textopacity-01 cursor-default no-seleccionable millahuin-grey-text left">Tú codigo es valido por 10 minutos</a>
      <a class="btn waves-effect waves-blue white-text millahuin-grey darken-1 z-depth-1" id="continuar">Continuar</a>
    </div>
  <!--fin formulario-->
</div>
