<span class="cursor-default no-seleccionable card-title millahuin-grey-text">Ingresa a Gestion Millahuin</span>
<div class="element-v250" id="form-signin">
  <!--formulario-->
  <div class="input-field millahuin-grey-text">
    <input class="btn-flat validate" id="usuario" name="usuario" type="text">
    <label for="usuario">Usuario</label>
  </div>
  <div class="input-field millahuin-grey-text">
    <input autocomplete="off" class="no-seleccionable btn-flat validate" id="contraseña" name="contraseña" type="password" oncopy="return false" onpaste="return false">
    <label for="usuario">Contraseña</label>
  </div>
  <div id="progress" class="progress hide">
    <div class="determinate"></div>
  </div>
  <div class="card-action right-align millahuin-yellow">
    <a class="btn waves-effect waves-blue millahuin-grey-text" id="show-regristrar" onclick="update_recpass()">Recupera contraseña</a>
    <a class="btn waves-effect waves-blue white-text millahuin-grey darken-1 z-depth-1" id="enviar">Ingresar</a>
  </div>
  <!--finformulario-->
</div>
