<div class="row">
  <div class="col s12 m12 l12">
    <span class="cursor-default no-seleccionable card-title millahuin-grey-text">Recupera tu contraseña</span>
  </div>
  <div class="col s12 m12 l12">
    <span class="cursor-default no-seleccionable millahuin-grey-text">ingresando tu nombre de usuario de Millahuin</span>
  </div>
</div>
<div class="element-v250">
  <!--formulario-->
    <div class="input-field millahuin-grey-text darken-1">
      <input class="btn-flat validate" id="nombre-usuario" type="text"> <label for="usuario">Usuario</label>
    </div>
    <div id="progress" class="progress hide">
      <div class="determinate"></div>
    </div>
    <div class="card-action right-align millahuin-yellow">
      <a class="btn waves-effect waves-blue millahuin-grey-text" id="show-ingresar"  onclick="update_signin()">Ingresar</a>
      <a class="btn waves-effect waves-blue white-text millahuin-grey darken-1 z-depth-1" id="recuperar">Recuperar</a>
    </div>
  <!--fin formulario-->
</div>
