<div class="container">
  <div class="row">
    <div class="col l3 m3 s4">
      <a href="#" class="badge waves-effect waves-blue millahuin-yellow-text"> Sobre Nosotros</a>
    </div>
    <div class="col l3 m3 s4">
      <a href="#" class="badge waves-effect waves-blue millahuin-yellow-text"> Nuestra vision</a>
    </div>
    <div class="col l3 m3 s4">
      <a id="text-footer-1" href="#" class="badge waves-effect waves-blue millahuin-yellow-text"> Reglamento interno </a>
    </div>
    <div id="copyright" class="col l3 m3 s12 push-s4 pull-s4">
          <span class="millahuin-grey-text">© Millahuin Ltda</span>
    </div>
  </div>
</div>
