<nav class="top-nav dgh ">
  <div class="container">
    <div class="nav-wraper">
      <div class="row">
        <div class="col s12 m6 flow-text">
          <a href="#" class="">
            <img class="responsive-img valign-s" src="system/views/images/svg-pegado-235496x44.svg" alt="Millahuin">
          </a>
          <!--logo-->
          <i class="cursor-default no-seleccionable slog millahuin-grey-text">Ingenieria & construcción</i>
        </div>
      </div>
    </div>
  </div>
</nav>
