<div class="container">
 <div class="row">
   <div class="s12 m4">
     <div class="card" style="height:250px;width:350px;margin-left:110px;">
       <div class="card-image waves-effect waves-block waves-light">
         <img class="activator" src="system/views/usuarios/gerente/images/obras.png" style="height:250px;width:350px">
       </div>
       <div class="card-content  millahuin-yellow">
         <span class="card-title activator milllahuin-grey text-darken-4">Agregar obras
           <i class="fa fa-plus-circle right" aria-hidden="true" ></i>
         </span>
         <p><a href="#"></a></p>
       </div>
       <div class="card-reveal">
         <!--formulario-->
           <div class="input-field millahuin-grey-text darken-1">
             <input autocomplete="off" class="btn-flat no-seleccionable" id="obra" type="text" oncopy="return false" onpaste="return false">
             <label for="obra">nombre obra</label>
           </div>
           <div class="input-field millahuin-grey-text darken-1">
             <input autocomplete="off" class="btn-flat no-seleccionable" id="obra" type="text" oncopy="return false" onpaste="return false">
             <label for="obra">Direccion</label>
           </div>
           <div class="card-action right-align millahuin-yellow millahuin-grey-text">
             <a class="btn waves-effect waves-blue white-text millahuin-grey darken-1 z-depth-1" id="continuar">Continuar</a>
           </div>
         <!--fin formulario-->
       </div>
     </div>
   </div>
   </div>


<div class="notification millahuin-yellow white-text waves-effect waves-yellow">
  <i class="fa fa-circle fa-fw cGreen"></i>Notificaciones
</div>
