.transparencia {
  background: rgba(255, 255, 255, 0.1);
}

.cMillahuin-m {
  color: #ffcd00;
}

.cMillahuin-g {
  color: #575756;
}

.cMillahuin-m2 {
  color: #edc600;
}

.cRed {
  color: redrgb(242, 15, 21);
}

.cGreen {
  color: #21c74f;
}

.cBlack {
  color: black;
}

.cWhite {
  color: white;
}

.cBlue {
  color: #303db3;
}

.cPurple {
  color: #613098;
}

.cDisable {
  color: rgba(51, 54, 52, 0.32);
}

/*body:before
  background-color: rgba(255, 255, 255, 1.00) */
/*@keyframes colorSpin
  25%
    background-position: 0% 100%
  50%
    background-position: 100 100%
  75%
    background-position: 100% 0%
  100%
    filter: hue-rotate(360deg) */
.millahuin-yellow {
  background-color: #ffcd00 !important;
}

.millahuin-yellow-text {
  color: #ffcd00 !important;
}

.millahuin-yellow.darken-1 {
  background-color: #edc600 !important;
}

.millahuin-yellow-text.text-darken-1 {
  color: #edc600 !important;
}

.millahuin-grey {
  background-color: #575756 !important;
}

.millahuin-grey-text {
  color: #575756 !important;
}

.millahuin-grey-opacity {
  background-color: #575756 !important;
  opacity: 0.9;
}

.scale-transition {
  transition: transform 1.0s !important;
}

.scale-transition.scale-out {
  transform: scale(0);
  transition: transform .2s !important;
}

.scale-transition.scale-in {
  transform: scale(1);
}

.up-target-wrapper {
  visibility: hidden;
  -webkit-transition: visibility 0s .3s;
  transition: visibility 0s .3s;
}

.up-target-wrapper-on {
  visibility: visible;
  -webkit-transition: visibility 0s;
  transition: visibility 0s;
}

body {
  background: #fff;
  color: #212121;
  direction: ltr;
  line-height: 1.4286;
  margin: 0;
  padding: 0;
}

header {
  position: relative;
  z-index: 2;
}

footer {
  z-index: 2;
}

header.on, main.on, footer.on {
  padding-left: 300px;
}

.container {
  z-index: 2;
}

.cont-signin {
  background-color: rgba(255, 0, 0, 0.02);
  width: 380px;
  min-height: 0;
  z-index: 1;
}

.card.large {
  height: 400px;
}

.container-load {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.footer-s {
  height: 30px;
  line-height: 30px;
  position: relative;
}

.notification {
  align-items: center;
  bottom: 0;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  right: 0px;
  padding: 4px;
  position: fixed;
}

.dgc {
  background-color: rgba(255, 205, 0, 0);
  background-size: 400%;
  box-shadow: 1px black;
}

.dgh {
  background: rgba(255, 205, 0, 0.5);
  background-size: 400%;
}

.dgf {
  background: rgba(255, 205, 0, 0.3);
  background-size: 400%;
}

nav.millahuin-yellow {
  height: 25px;
}

ul.side-nav.fixed {
  overflow: hidden;
}

ul:not(.browser-default) {
  padding-left: 0;
  list-style-type: none;
}

ul.side-nav.fixed {
  left: 0;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  position: fixed;
}

div.logo {
  text-align: center;
  padding-top: 32px;
  background-color: #ffcd00;
  height: fit-content;
  width: auto;
}

div > li > a#logo-container:hover {
  background-color: transparent;
  padding-bottom: 20px;
  cursor: default;
}

div > a#menu {
  margin-top: -50px;
}

div.logo > li.search {
  width: 100%;
  line-height: 0px;
}

.material-icons {
  top: 10px;
  right: 3px;
  position: absolute;
  cursor: pointer;
}

input#search {
  margin: auto;
  padding: 0 7px 0 7px;
}

div#sidenav-overlay {
  left: 300px;
}

a#show-regristrar {
  cursor: pointer;
}

a#show-ingresar {
  cursor: pointer;
}

a#action {
  cursor: pointer;
}

a.btn {
  border-radius: 2px;
  cursor: pointer;
  letter-spacing: 0.5px;
  min-width: 100px;
  min-height: 30px;
  justify-content: center;
  text-align: center;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  z-index: 1;
}

a#action {
  cursor: pointer;
}

.progress .indeterminate {
  background-color: #ffcd00;
}

.progress .determinate {
  background-color: #ffcd00;
}

.page-footer {
  position: relative;
  background-color: rgba(142, 142, 142, 0);
}

.error-jsv {
  background-color: #e70a0a;
  color: white;
}

.valid-jsv {
  background-color: #0d9973;
  color: white;
}

.pending-jsv {
  background-color: #ffcd00;
  color: white;
}

.opacity-0 {
  opacity: 0;
}

.opacity-01 {
  opacity: 0.1;
}

.opacity-01:hover {
  opacity: 0.5;
}

.opacity-02 {
  opacity: 1;
}

.no-seleccionable {
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  user-select: none;
}

.cursor-default {
  cursor: default;
}

.cursor-pointer {
  cursor: pointer;
}

.text-normal {
  text-transform: none;
}

i.slog {
  font-style: normal;
  font-size: 16px;
  margin-top: -58px;
  margin-left: 60px;
}

img.valign-s {
  margin-top: 5px;
}

.element-v {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  justify-content: center;
  min-height: 85vh;
  position: relative;
}

.element-h {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.element-v250 {
  align-items: center;
  display: grid;
  height: 200px;
  width: 100%;
}

.position-bottom {
  bottom: 0px;
  border-top-style: solid;
  border-top-width: thin;
  border-top-color: rgba(0, 0, 0, 0.25);
  width: 100%;
  margin: 0px;
  position: fixed;
  z-index: 0;
}

@media only screen and (max-width: 600px) {
  .cont-signin {
    width: 100%;
    height: auto;
  }
  .element-v {
    min-height: 65vh;
    position: relative;
  }
}

@media only screen and (max-width: 992px) {
  header.on, main.on, footer.on {
    padding-left: 0px;
  }
}
