// main: ../style.sass

// definicion de main en archibos que se compilan en mi style.css a través  de mi style.sass
// ejemplo seria como decirle a mi consola sass --watch sass:css

.scale-transition
  &.scale-out
    transform: scale(0)
    transition: transform .2s !important

  &.scale-in
    transform: scale(1)

  transition: transform 1.0s !important

.up-target-wrapper
    visibility: hidden
    -webkit-transition: visibility 0s .3s
    transition: visibility 0s .3s

.up-target-wrapper-on
    visibility: visible
    -webkit-transition: visibility 0s
    transition: visibility 0s
