// main: ../style.sass

// definicion de main en archibos que se compilan en mi style.css a través  de mi style.sass
// ejemplo seria como decirle a mi consola sass --watch sass:css

// ------------ Colores ------------------------------------------------------//
.transparencia
  background: rgba(255, 255, 255,0.1)

.cMillahuin-m
  color: rgb(255, 205, 0)

.cMillahuin-g
  color: rgb(87, 87, 86)

.cMillahuin-m2
  color: rgb(237, 198, 0)

.cRed
  color: redrgb(242, 15, 21)

.cGreen
  color: rgb(33, 199, 79)

.cBlack
  color: black

.cWhite
  color: white

.cBlue
  color: rgb(48, 61, 179)

.cPurple
  color: rgb(97, 48, 152)

.cDisable
  color: rgba(51, 54, 52, 0.32)
// ------------ Colores gradientes  ------------------------------------------//
//body:after, body:before
  position: absolute
  //background-image: url("../../../../system/views/general/images/slide-1.jpg")
  filter: blur(2px)
  top: 0px
  bottom: 0px
  left: 0px
  right: 0px
  //height: 100%
  //width: 100%
  content: ""
  z-index: 1

//body:after
  background: linear-gradient(to top left,rgba(255, 255, 250, 1.00), rgba(255, 205, 0, 1.00), rgba(255, 255, 250, 1.00))
  background-size: 400%
  animation: colorSpin 30s linear infinite
  opacity: 1

/*body:before
  background-color: rgba(255, 255, 255, 1.00)

/*@keyframes colorSpin
  25%
    background-position: 0% 100%
  50%
    background-position: 100 100%
  75%
    background-position: 100% 0%
  100%
    filter: hue-rotate(360deg)

// ------------ Colores Institucionales --------------------------------------//
$millahuin-yellaow: ("base": rgb(255, 205, 0), "darken-1": rgb(237, 198, 0) )

$millahuin-grey: ("base": rgb(87, 87, 86) )

$millahuin-grey-opacity: ("base": rgb(87, 87, 86) )

$colors: ("millahuin-yellow": $millahuin-yellaow, "millahuin-grey": $millahuin-grey, "millahuin-grey-opacity": $millahuin-grey-opacity) !default

// Color Classes

@each $color_name, $color in $colors
  @each $color_type, $color_value in $color
    @if $color_name == "millahuin-grey-opacity"
      .#{$color_name}
        background-color: $color_value !important
        opacity: 0.9
    @else if $color_type == "base" and $color_name != "millahuin-grey-opacity"
      .#{$color_name}
        background-color: $color_value !important

      .#{$color_name}-text
        color: $color_value !important
    @else if $color_name != "shades"
      .#{$color_name}.#{$color_type}
        background-color: $color_value !important

      .#{$color_name}-text.text-#{$color_type}
        color: $color_value !important
