// main: ../style.sass

// definicion de main en archibos que se compilan en mi style.css a través  de mi style.sass
// ejemplo seria como decirle a mi consola sass --watch sass:css

//--------- 1 dimenciones contenedores -----------------------------------------
body
  background: #fff
  color: #212121
  direction: ltr
  line-height: 1.4286
  margin: 0
  padding: 0

header
  position: relative
  z-index: 2

footer
  z-index: 2

header.on,main.on,footer.on
  padding-left: 300px

.container
  z-index: 2

.cont-signin
  background-color: rgba(255,0,0, 0.02)
  width: 380px
  min-height: 0
  z-index: 1

.card.large
  height: 400px

.container-load
  position: absolute
  width: 100%
  height: 100%
  z-index: 10

.footer-s
  height: 30px
  line-height: 30px
  position: relative

.notification
  align-items: center
  bottom: 0
  display: -ms-flexbox
  display: flex
  height: 30px
  right: 0px
  padding: 4px
  position: fixed

//---------- 2 degradacion ----------------------------------------------
// degradado container
.dgc
  background-color: rgba(255, 205, 0, 0.0)
  background-size: 400%
  box-shadow: 1px black

//degradado header
.dgh
  background: rgba(255, 205, 0, 0.5)
  background-size: 400%

//degradado footter
.dgf
  background: rgba(255, 205, 0, 0.3)
  background-size: 400%

//-------- 3 nav ---------------------------------------------------------------
nav.millahuin-yellow
  height: 25px

ul.side-nav.fixed
  overflow: hidden

ul:not(.browser-default)
  padding-left: 0
  list-style-type: none

ul.side-nav.fixed
  left: 0
  -webkit-transform: translateX(0)
  transform: translateX(0)
  position: fixed

div.logo
 text-align: center
 padding-top: 32px
 background-color: #ffcd00
 height: fit-content
 width: auto

div>li>a#logo-container:hover
  background-color: transparent
  padding-bottom: 20px
  cursor: default

div>a#menu
  margin-top: -50px

div.logo>li.search
  width: 100%
  line-height: 0px

.material-icons
  top: 10px
  right: 3px
  position: absolute
  cursor: pointer

input#search
 margin: auto
 padding: 0 7px 0 7px

div#sidenav-overlay
  left: 300px
