// main: ../style.sass

// definicion de main en archibos que se compilan en mi style.css a través  de mi style.sass
// ejemplo seria como decirle a mi consola sass --watch sass:css

//centraliza mi texto bajo una imagen
i.slog
  font-style: normal
  font-size: 16px //tamaño de fuente
  margin-top: -58px
  margin-left: 60px

//da margen de 5 px a mis etiquetas
img.valign-s
  margin-top: 5px

//centraliza un elemento vertical y horizontalmete
.element-v
    display: -webkit-box
    display: -moz-box
    display: -ms-flexbox
    display: -webkit-flex
    display: flex
    -webkit-flex-direction: column
    flex-direction: column
    justify-content: center
    min-height: 85vh
    position: relative

//centraliza un elemento horizontalmete
.element-h
  display: flex
  flex-direction: row
  align-items: center

//centraliza un elemento verticalmente
//.element-v
  align-items: center
  bottom: 0px
  height: 89%
  display: flex
  position: relative

//centraliza un elemento dentro de su contenedor verticalmente
.element-v250
  align-items: center
  display: grid
  height: 200px
  width: 100%

//posiciona un elemento como footer
//bottom
.position-bottom
  bottom: 0px
  //text-align: center
  border-top-style: solid
  border-top-width: thin
  border-top-color: rgba(0, 0, 0, 0.25)
  width: 100%
  margin: 0px
  position: fixed
  z-index: 0

//media min 769px
//@media #{$medium-large-and-up}
  .element-v-h
    height: inherit
    //top: 5%

//media min 601px
@media #{$small-and-down}
  .cont-signin
    width: 100%
    height: auto

  .element-v
    min-height: 65vh
    position: relative

//media min 601px
//@media #{$medium-and-up}

  .element-v-h:before
    min-height: 80vh
    position: relative

//media min 990
@media #{$medium-large-and-down}
  //.side-nav.fixed
    -webkit-transform: translateX(-105%)
    transform: translateX(-105%)

  header.on,main.on,footer.on
    padding-left: 0px
