// main: ../style.sass

// definicion de main en archibos que se compilan en mi style.css a través  de mi style.sass
// ejemplo seria como decirle a mi consola sass --watch sass:css

//Enable compile on save
// compileOnSave
// compileOnSave: true

Disable compile on save
// !compileOnSave
// compileOnSave: false
//----- reglas parea personalizar elementos de materialize segun sistema -----//
//--------- 1 Botones --------------------------------------------------------//
a#show-regristrar
  cursor: pointer

a#show-ingresar
  cursor: pointer

a#action
  cursor: pointer

a.btn
  border-radius: 2px
  cursor: pointer
  letter-spacing: 0.5px
  min-width: 100px
  min-height: 30px
  justify-content: center
  text-align: center
  padding-left: 4px
  padding-right: 4px
  padding-top: 4px
  -webkit-transition: 0.2s ease-out
  transition: 0.2s ease-out
  z-index: 1

a#action
  cursor: pointer

//----- 2 Progress bar -----------------------------------------------------//

.progress
  .indeterminate
    background-color: rgb(255, 205, 0)
  .determinate
    background-color: rgb(255, 205, 0)

//------ 3 page --------------------------------------------------------------//
.page-footer
  position: relative
  //top: 60px
  background-color: rgba(142, 142, 142, 0)

//------- reglas para estilo de JavaScriptValidation segun sistema -----------//

//------- 1 elemento de respuestas de validacion -----------------------------//
.error-jsv
  background-color: rgb(231, 10, 10)
  color: white

.valid-jsv
  background-color: rgb(13, 153, 115)
  color: white

.pending-jsv
  background-color: rgb(255, 205, 0)
  color: white

//------- reglas para estilo de elementos ------------------------------------//
//------- 1 opacidad de elementos --------------------------------------------//
.opacity-0
  opacity: 0

.opacity-01
  opacity: 0.1

.opacity-01:hover
  opacity: 0.5

.opacity-02
  opacity: 1

//------- 2 Selecnion, Cotar & Pegar -----------------------------------------//
.no-seleccionable
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  -o-user-select: none
  -webkit-user-select: none
  -webkit-touch-callout: none
  user-select: none

//------- 3 Cursores ---------------------------------------------------------//
.cursor-default
  cursor: default

.cursor-pointer
  cursor: pointer

//------- 4 Texto ------------------------------------------------------------//
.text-normal
  text-transform: none

//------- 4 elementos a ocultar ----------------------------------------------//
//#copyright
  display: none
