  <div class="container-load millahuin-grey-opacity element-v">
    <div class="row">
      <div class="center-align">
        <img class="responsive-img" src="system/views/load/milla.png" alt="Millahuin Ltda">
      </div>
      <div class="center-align">
        <!--preload circle-->
        <div class="preloader-wrapper active">
          <div class="spinner-layer spinner-yellow-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
